body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.nav
{
    overflow: hidden;
    background:orange

}
.nav a{
    float: left;

 color: aliceblue;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav a:hover
{
    color:blue;
    background:white;

}
.nav a.active
{
    background:pink;
}
.logo
{
    margin: 10px 0px;
    background-color: red;

}

.logo img
{
    height: 59px;
    margin: 9px 6px;
    

}
.logo2
{
    background-color: skyblue;
    
}
.logo2 img
{
    height: 600px;
margin: 8px 7px;
padding: 150px;
}
.container{
    max-width: 1170px;

    margin: auto;
}
.row{
display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
div.logo3 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.logo3:hover {
    border: 1px solid rgb(235, 64, 64);
  }
  
  div.logo3 img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
 .footer{
    background-color: black; 
padding: 70px 0;

}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4
{
font-size: 18px;
color: pink;
text-transform: capitalize;
margin-bottom: 30px;
}
.footer-col ul li a{
text-decoration: none;
}


